* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-blue: #0d6efd !important;
  --bs-indigo: #6610f2 !important;
  --bs-purple: #6f42c1 !important;
  --bs-pink: #d63384 !important;
  --bs-red: #dc3545 !important;
  --bs-orange: #fd7e14 !important;
  --bs-yellow: #ffc107 !important;
  --bs-green: #198754 !important;
  --bs-teal: #20c997 !important;
  --bs-cyan: #0dcaf0 !important;
  --bs-white: #fff !important;
  --bs-gray: #6c757d !important;
  --bs-gray-dark: #343a40 !important;
  --bs-primary: #57a6fa !important;
  --bs-secondary: #6c757d !important;
  --bs-success: #198754 !important;
  --bs-info: #0dcaf0 !important;
  --bs-warning: #ffc107 !important;
  --bs-danger: #dc3545 !important;
  --bs-light: #fff5e1 !important;
  --bs-dark: #0c1844 !important;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important ;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  ) !important;
}
